<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add the new Route</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex items-center justify-center h-screen">
    <div class="border  shadow-md p-8 rounded-lg">
        <h1 class="text-2xl font-bold text-center">Add the new Route</h1>
        <div class="flex flex-col">
            <label for="routeName">route Name</label>
            <input type="text" id="routeName" placeholder="Enter the route name" class="border border-black shadow-md">
            <label for="jsonData">enter the json data</label>
            <textarea id="jsonData" rows="10" cols="50" class="border border-black shadow-md"></textarea>
            <button onclick="processJson()" class="mt-3 ml-20 w-32 border border-black rounded-xl shadow-md hover:bg-gray-100">Add API</button>
       </div>
</div>



        <script>

            async function  processJson() {
                var jsonData = document.getElementById('jsonData').value;
                var routeName = document.getElementById('routeName').value;
                try {
                    jsonData = JSON.parse(jsonData);
                    const ds={
                        routerName:routeName,
                        routeData:jsonData
                    }
                    const klm=await fetch('http://localhost:3000/addApi', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(ds),
                    })
                    console.log(ds);
                    if (klm.ok) {
                        console.log("Data sent successfully");
                        window.location.href = "/dashboard";
                        window.location.replace("/dashboard");
                    } else {
                        const errorMessage = await klm.json();
                        alert(errorMessage.message);
                        console.error("Error sending data");
                    }

                } catch (error) {
                    console.error("Error parsing JSON data:", error);
                }
            }

        </script>




</body>
</html>