<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API manager</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="m-10 ">

        <h1 class="text-3xl text-blue-500 mb-5 ml-3">API Manager</h1>
       <% if (log) {%>
          <div>
              <h3 class="mb-4"> hello <%= name %> , you have already logged in</h3>
              <div class="flex flex-row w-32">

                  <button class="w-full bg-blue-500 text-white py-2 px-4 mx-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                      <a href="/dashboard">dashboard</a>
                  </button>
                  <button class="w-full bg-red-500 text-white py-2 px-4 mx-2 rounded hover:bg-red-600 focus:outline-none focus:bg-red-600">
                      <a href="/logout">logout</a>
                  </button>
              </div>
          </div>
      <% } %>
      <%if (not) {%>
          <div class="flex flex-row w-32">

              <button class="w-full bg-blue-500 text-white py-2 px-4 mx-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                  <a href="/login">login</a>
              </button>
              <button class="w-full bg-blue-500 text-white py-2 px-4 mx-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                  <a href="/registration">registration</a>
              </button>
          </div>
      <%}%>
  </div>
</body>

</html>
